body {
    font-family: 'Dancing Script', cursive;
    width: 250px;
    padding: 20px;
    border: 20px solid rgb(214, 122, 122);
    text-align: center;
    margin: 15% auto 0 auto;
}
h1 {
    color:rgb(214, 122, 122)
}